accelerate==0.22.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.8
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
bitarray==2.9.2
bitsandbytes==0.41.1
bleach==6.1.0
blis==0.7.11
boto3==1.28.43
botocore==1.31.43
bpemb==0.3.5
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
cmake==3.29.2
colorama==0.4.6
comm==0.2.2
confection==0.1.4
conllu==4.5.3
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
dataclasses-json==0.5.14
datasets==2.19.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
einops==0.6.1
exceptiongroup==1.2.1
executing==2.0.1
fairseq==0.12.2
fastjsonschema==2.19.1
filelock==3.14.0
flair==0.12.2
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
ftfy==6.2.0
future==1.0.0
gdown==4.4.0
-e git+https://github.com/facebookresearch/GENRE.git@08af8d0119ed60692e428791be98a17db73996b7#egg=genre
gensim==4.3.2
greenlet==3.0.3
huggingface-hub==0.23.0
hydra-core==1.0.7
hyperopt==0.2.7
idna==3.7
ipykernel==6.29.4
ipython==8.24.0
isoduration==20.11.0
Janome==0.5.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.0.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
kiwisolver==1.4.5
langchain==0.0.284
langcodes==3.4.0
langdetect==1.0.9
langsmith==0.0.92
language_data==1.2.0
lit==18.1.4
lxml==5.2.1
marisa-trie==1.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.8.4
matplotlib-inline==0.1.7
mistune==3.0.2
more-itertools==10.2.0
mpld3==0.3
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
notebook_shim==0.2.4
numexpr==2.10.0
numpy==1.24.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
omegaconf==2.0.6
overrides==7.7.0
packaging==24.0
pandas==2.0.0
pandocfilters==1.5.1
parso==0.8.4
pathlib_abc==0.1.1
pathy==0.11.0
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.1
portalocker==2.8.2
pptree==3.1
preshed==3.0.9
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==5.26.1
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==16.0.0
pyarrow-hotfix==0.6
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.18.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytorch_revgrad==0.2.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
regex==2023.8.8
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.1
s3transfer==0.6.2
sacrebleu==2.4.2
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
segtok==1.5.11
Send2Trash==1.8.3
sentencepiece==0.1.99
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
soupsieve==2.5
spacy==3.7.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.30
sqlitedict==2.1.0
srsly==2.4.8
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tenacity==8.3.0
terminado==0.18.1
thinc==8.2.3
threadpoolctl==3.5.0
tinycss2==1.3.0
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.3
transformer-smaller-training-vocab==0.2.4
transformers==4.33.1
triton==2.0.0
typer==0.9.4
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
uri-template==1.3.0
urllib3==1.26.0
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
Wikipedia-API==0.6.0
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
